* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px; /*세로*/
    grid-template-rows: 180px 180px 180px 180px;     /*가로*/
    grid-gap: 0.5rem;
    perspective: 800px;
}

.card {
    position: relative;
    transform-style: preserve-3d;  /*자식요소를 3D 공간에 배치*/
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.face,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none; /* 포인터 이벤트 대상이 되지 않음 */
}

.face{
    transform: rotate(90deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.back {
    background:url(../images/cinema.jpg) no-repeat center;
    background-size: 100% 100%;
    /* background: #fff; */
    backface-visibility: hidden;  /*앞에 있는 요소를 보이지 않게 하기*/
}

h1 {
    color: #fff;
    margin-bottom: 1rem;
    width: 150px;
    padding: 10px;
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 5px;
}

.toggleCard {
    transform: rotateY(180deg);
}

/* .face{
    transform: translateY(-180deg);
} */